/* 清除浮动 */
.clearfix:before ,
.clearfix:after{
    content: "";
    display: table;
}
.clearfix:after{
    clear: both;
}
.clearfix{
    *zoom: 1;
}

a{
    text-decoration: none;
}

body{
    padding-top: 42px;
    background: url(../images/cfvip-background-img1.jpg) #f7f0dd center 74px no-repeat;
    padding-top: 74px;
    font: 12px/1.5 tahoma, arial, \5b8b\4f53, sans-serif;
}

.top-box{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 42px;
    font-size: 12px;
    color: #464646;
    font-family: Tahoma;
    text-align: left;
    background: #fff;
    z-index: 8000;
    overflow: hidden;
}

.top-content{
    position: relative;
    width: 980px;
    padding: 0 5px;
    margin: 0 auto;
    list-style: none;
}

.top-txyx{
    width: 95px;
    height: 42px;
    padding: 0 15px 0 0;
    margin: 0 15px 0 0;
    float: left;
    background: url(../images/cfvip-txyx-logo.png) no-repeat;
}

.top-cf-logo{
    float: left;
    width: 230px;
    height: 42px;
}

.top-cf-logo img{
    display: block;
    width: 230px;
    height: 39px;
}

.top-text{
    float: right;
    height: 42px;
    line-height: 42px;
}

.top-bar{
    float: right;
}

.top-bar a{
    color: #464646;
    border-right: 1px solid #BFC6D7;
    padding: 0 9px;
}

.top-return{
    float: right;
    width: 80px;
    padding: 0 0 0 28px;
}

.top-return a{
    color: #464646;
}

.top-content a:hover{
    color: deepskyblue;
    text-decoration: underline
}

.two-box{
    position: absolute;
    top: 42px;
    left: 0;
    width: 100%;
    height: 54px;
    background: url(../images/cfvip-elf-img.png) repeat-x;
    z-index: 8000;
}

.two-content{
    width: 1000px;
    margin: 0 auto;
}

.two-cf-logo{
    display: block;
    float: left;
    width: 164px;
    height: 54px;
    text-indent: -9999em;
    background: url(../images/cfvip-elf-img.png) 0 -54px no-repeat;
}

.two-list{
    float: right;
    width: 400px;
}

.two-list li{
    float: left;
    padding: 5px 0 5px 30px;
}

.icon{
    display: inline-block;
    width: 21px;
    height: 21px;
    background: url(../images/cfvip-elf-img.png) no-repeat;
    margin-right: 5px;
    vertical-align: middle;
}

.two-list .xz{
    background-position: 0 -108px;
}

.two-list .pp{
    background-position: -21px -108px;
}

.two-list .gw{
    background-position: -42px -108px
}

.two-list a{
    color: #b9b9b9;
    font-size: 14px;
    font-weight: bold;
    vertical-align: middle;
}

.three-box{
    width: 900px;
    padding: 48px 0;
    margin: 0 auto;
    background: url(../images/cfvip-background-img2.jpg) center 0 no-repeat;
}

.three-left{
    width: 186px;
    float: left;
}

.cfvip-logo{
    width: 186px;
    height: 139px;
    background-image: url(../images/cfvip-logo.png);
    background-repeat: no-repeat;
}

.three-register{
    padding: 30px 0;
}

.register{
    display: block;
    color: #914405;
    font-size: 14px;
    padding-bottom: 15px;
}

.register a{
    color: #914405;
}

.register .dredge{
    display: block;
    float: none;
    width: 184px;
    height: 42px;
    line-height: 42px;
    color: #FFE670;
    font-size: 15px;
    font-weight: bold;
    text-indent: 0;
    text-align: center;
    margin-top: 20px;
    background: url(../images/cfvip-small-background-img.png) no-repeat;
    background-position: 0 -50px;
}

.cfvip-class{
    width: 186px;
}

.three-cfvip-class a{
    display: block;
    width: 186px;
    height: 50px;
    background: url(../images/cfvip-elf-class.jpg) no-repeat;
    margin-top: -1px;
    transition: height .2s ease-out;
    outline: none;
}

.three-cfvip-class .class1{
    background-position: 0 0;
}

.three-cfvip-class .class2{
    background-position: 0 -100px;
}

.three-cfvip-class .class3{
    background-position: 0 -200px;
}

.three-cfvip-class .class4{
    background-position: 0 -300px;
}

.three-cfvip-class .class5{
    background-position: 0 -400px;
}

.three-cfvip-class .class6{
    background-position: 0 -500px;
}

.active a{
    height:100px;
}
a.class1{
    background-position: 0 0
}
a.class1:hover,
.active .class1{
    background-position: -186px 0
}
a.class2{
    background-position: 0 -100px
}
a.class2:hover,
.active .class2{
    background-position: -186px -100px
}
a.class3{
    background-position: 0 -200px
}
a.class3:hover,
.active .class{
    background-position: -186px -200px
}
a.class4{
    background-position: 0 -300px
}
a.class4:hover,
.active .class4{
    background-position: -186px -300px
}
a.class5{
    background-position: 0 -400px
}
a.class5:hover,
.active .class5{
    background-position: -186px -400px
}
a.class6{
    background-position: 0 -500px
}
a.class6:hover,
.active .class6{
    background-position: -186px -500px
}

.rule{
    padding-top: 50px;
}

.rule h1{
    line-height: 30px;
    font-size: 14px;
    color: #804919;
    border-bottom: 1px solid #caa57d;
    font-family: "Microsoft YaHei";
}

.rule li{
    line-height: 20px;
}

.rule .rule-ico{
    display: inline-block;
    font-size: 20px;
    color: #7f512b;
}

.rule .rule-cg{
    color: #40ac89;
}

.rule .rule-cr{
    color: #c46e00;
}

.three-exclusive{
    padding-top: 50px;
}

.three-exclusive h1{
    line-height: 30px;
    font-size: 14px;
    color: #804919;
    font-family: "Microsoft YaHei";
}

.three-exclusive li{
    padding-bottom: 7px;
}

.three-exclusive img{
    width: 186px;
    height: 100px;
}

.three-right{
    position: relative;
    width: 615px;
    float: left;
    padding-left: 85px;
}

.three-top-nav{
    height: 61px;
    background: url(../images/cfvip-nav.png) 0 -120px no-repeat;
}

.navigation{
    width: 440px;
    padding-left: 1px;
    float: left;
}

.navigation li{
    float: left;
}

.navigation a{
    display: block;
    width: 110px;
    line-height: 61px;
    color: #d1af8b;
    font-size: 14px;
    font-family: "Microsoft YaHei";
    text-align: center;
    text-decoration: none;
    background: url(../images/cfvip-nav.png) -110px -60px;
    transition: background-position .2s ease-out;
}

.navigation a:hover{
    color: #fff;
    background-position: 0 -60px;
}

.cur a{
    background-position: 0 -60px;
    color: #fff;
    font-weight: bold;}

.navigation-right{
    float: right;
    width: 90px;
    padding: 5px 0 0 0;
}

.navigation-right a{
    display: block;
    width: 80px;
    height: 23px;
    line-height: 23px;
    color: #f2b350;
    text-align: center;
    text-decoration: none;
    background: url(../images/cfvip-nav.png) -520px -60px no-repeat;
    margin-bottom: 3px;
}

/* 首页 */
.three-right-index{
    display: block;
    float: left;
}

.three-right-index-img{
    position: absolute;
    top: 61px;
    left: 63px;
    width: 657px;
    height: 791px;
    background: url(../images/cfvip-privilege.jpg) no-repeat -52px 22px;
    padding-top: 50px;
}

/* 特权 */
.three-privilege{
    width: 615px;
    float: left;
    padding-top: 6px;
}

.privilege-h2{
    width: 615px;
    height: 72px;
    line-height: 72px;
    background: url(../images/cfvip-text.png) no-repeat 0 0;
    border-bottom: 1px solid #eddbaf;
}

.privilege-h3{
    position: relative;
    height: 46px;
    line-height: 46px;
    padding-left: 20px;
    width: 595px;
    font-size: 18px;
    color: #764215;
}

.privilege-h3 em{
    display: block;
    position: absolute;
    top: 18px;
    left: 0;
    width: 10px;
    height: 10px;
    font-style: normal;
    background-color: #7f512b;
}

.privilege-int{
    width: 615px;
    line-height: 26px;
    color: #4c4d4e;
    font-size: 14px;
}

.privilege-one-img{
    display: block;
    margin-top: 20px;
}

.privilege-img{
    display: block;
    margin-top: 10px;
    border: 4px solid #6c6242;
}

.mt10{
    margin-top: 10px;
}

.privilege-h2-img1{
    background-position: 0 -72px;
}

.privilege-h2-img2{
    background-position: 0 -144px;
}

.privilege-h2-img3{
    background-position: 0 -216px;
}

.privilege-h2-img4{
    background-position: 0 -792px;
}

.privilege-h2-img5{
    background-position: 0 -288px;
}

.privilege-link{
    width: 615px;
    line-height: 30px;
    font-size: 14px;
    color: #bf3504;
    text-decoration: underline;
}

.privilege-h2-img6{
    background-position: 0 -360px;
}

.privilege-h2-img7{
    background-position: 0 -432px;
}

.privilege-h2-img8{
    background-position: 0 -504px;
}

/* 成长 */
.three-grow{
    width: 615px;
    float: left;
    padding-top: 6px;
}

.privilege-h2-img9{
    background-position: 0 -576px;
}

.grow-table{
    width: 615px;
    border-top: 1px solid #e6cb95;
    background-color: transparent;
}

.grow-table .bln{
    border-left: none;
}

.grow-table th{
    width: 62px;
    height: 39px;
    color: #946a45;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    vertical-align: middle;
    border-bottom: 1px solid #e6cb95;
    border-left: 1px solid #e6cb95;
    background-color: transparent;
}

.bln{
    border-left: none;
}

.three-grow td{
    height: 59px;
    color: #b57b2e;
    font-weight: 700;
    font-size: 14px;
    text-align: center;
    border-bottom: 1px solid #e6cb95;
    border-left: 1px solid #e6cb95;
    background-color: transparent;
}

.three-grow .tbody-text{
    border-left: none;
    color: rgb(148, 106, 69);
}

.three-grow .wrong{
    display: block;
    width: 14px;
    height: 14px;
    background: url(../images/cfvip-right-wrong.png) no-repeat left top;
    margin: 0 auto;
}

.three-grow .right{
    display: block;
    width: 20px;
    height: 14px;
    background: url(../images/cfvip-right-wrong.png) no-repeat left top;
    background-position: 0 -14px;
    margin: 0 auto;
}

.tbody-grade {
    display: block;
    width: 16px;
    height: 18px;
    background: url(../images/cfvip-img-show3.jpg);
    margin: 0 auto;
}

.grow1{
    background-position: -20px -6px;
}

.grow2{
    background-position: -46px -6px;
}

.grow3{
    background-position: -72px -6px;
}

.grow4{
    background-position: -99px -6px;
}

.grow5{
    background-position: -127px -6px;
}

.grow6{
    background-position: -155px -6px;
}

.tbody-img{
    display: block;
    width: 60px;
    height: 60px;
    margin: 0 auto;
}

.tbody-img img{
    display: block;
    width: 60px;
    height: 60px;
}

.system{
    background-position: 0 -648px;
}

.system-text1{
    position: relative;
    width: 615px;
    line-height: 40px;
    color: #a56d28;
    font-size: 18px;
    font-weight: 700;
    margin-top: 10px;
}

.system-ul{
    width: 615px;
    margin-top: 10px;
}

.system-li{
    float: left;
    width: 615px;
    line-height: 26px;
    font-size: 14px;
    font-weight: 700;
    color: #a56d28;
}

.system-li em{
    display: block;
    float: left;
    width: 96px;
    height: 26px;
    line-height: 26px;
}

.system-li span{
    float: left;
    width: 506px;
    line-height: 26px;
    margin-left: 10px;
}

/* 个人 */
.three-personal{
    display: inline;
    float: left;
    width: 613px;
    height: 84px;
    padding: 10px 0;
    margin-top: 25px;
    border: 1px solid #c0a475;
    background: rgba(251,247,224,0.6);
}

.personal-top-span{
    display: block;
    float: left;
    width: 203px;
    height: 84px;
    border-right: 1px solid #c0a475;
    overflow: hidden;
}

.personal-top-span p{
    width: 204px;
    line-height: 20px;
    color: #4c4d4e;
    font-size: 14px;
    text-align: center;
    margin-top: 5px;
}

.personal-h3{
    float: left;
    width: 578px;
    height: 25px;
    line-height: 25px;
    color: #000;
    font-size: 22px;
    font-weight: normal;
    padding-left: 35px;
}

.personal-h3-img{
    background: url(../images/cfvip-personal-img2.png) no-repeat left top;
}

.mt43{
    margin-top: 43px;
}

.personal-cfvip-level{
    position: relative;
    float: left;
    width: 613px;
    height: 29px;
    border: 1px solid #cac4a7;
    background-color: #d5cda4;
    border-radius: 15px;
}

.mt20{
    margin-top: 20px;
}

.personal-cfvip-level span{
    display: block;
    width: 0%;
    max-width: 100%;
    height: 29px;
    background-color: #c03304;
    border-radius: 15px;
}

.personal-cfvip-level ul{
    position: absolute;
    top: 0;
    left: 0;
    width: 613px;
    height: 29px;
}

.personal-cfvip-level li{
    position: relative;
    float: left;
    width: 118px;
    height: 29px;
    border-right: 2px dashed #ebe7d4;
    background-color: transparent;
}

.personal-cfvip-level .last{
    width: 133px;
    border-right: none;
}

.personal-cfvip-level em{
    display: block;
    position: absolute;
    top: 34px;
    left: -35px;
    width: 70px;
    height: 36px;
    line-height: 18px;
    font-size: 14px;
    color: #4c4d4e;
    text-align: center;
}

.personal-cfvip-level .last-em{
    left: 90px;
}

.three-pti{
    float: left;
    width: 615px;
    height: 199px;
    margin-top: 66px;
    overflow: hidden;
}

.privilege-introduce{
    display: block;
    float: left;
    width: 585px;
    border: 1px solid #e6cc9c;
    padding: 14px;
    position: relative;
    background: #f9efce;
    margin-top: 21px;
}

.ensconce{
    display: none;
}

.privilege-introduce em{
    display: block;
    position: absolute;
    width: 23px;
    height: 22px;
    background: url(../images/cfvip-personal-img1.png) no-repeat left top;
    background-position: -104px -197px;

}

.three-pti-vip1{
    top: -21px;
    left: 14px;
}

.three-pti-vip2{
    top: -21px;
    left: 108px;
}

.three-pti-vip3{
    top: -21px;
    left: 230px;
}

.three-pti-vip4{
    top: -21px;
    left: 350px;
}

.three-pti-vip5{
    top: -21px;
    left: 466px;
}

.three-pti-vip6{
    top: -21px;
    left: 586px;
}

.three-pti-img{
    position: relative; 
    float: left;
    width: 99px;
    height: 104px;
    background-color: #757162;
}

.three-pti-img img{
    display: block;
    width: 99px;
    height: 104px;
}   

.three-pti-img p{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 34px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    font-weight: 700;
    color: #e9e9e9;
}

.three-pti-title {
    float: left;
    width: 463px;
    margin-left: 20px;
}

.three-pti-title strong{
    display: block;
    width: 463px;
    line-height: 30px;
    font-size: 20px;
    color: #764215;
}

.three-pti-a1{
    display: inline;
    width: 182px;
    height: 42px;
    line-height: 42px;
    float: left;
    font-size: 16px;
    font-weight: 700;
    color: #ffffff;
    text-align: center;
    margin-top: 15px;
    margin-left: 140px;
}

.three-pti-a-img{
    background: url(../images/cfvip-personal-text-background.png) 0 0;
    background-repeat: no-repeat;
}

.three-pti-a2{
    display: block;
    position: absolute;
    top: 16px;
    left: 524px;
    width: 60px;
    height: 20px;
    line-height: 20px;
    font-size: 14px;
    color: #d03b07;
    text-decoration: underline;
}

.upgrade-h3{
    float: left;
    width: 578px;
    height: 25px;
    line-height: 25px;
    color: #000;
    font-size: 22px;
    font-weight: normal;
    padding-left: 35px;
    background-position: 0 -26px;
}

.three-upgrade{
    position: relative;
    float: left;
    width: 613px;
    height: 380px;
    margin-top: 20px;
}

.three-upgrade-box{
    position: absolute;
    top: 0;
    left: 0;
    width: 271px;
    height: 172px;
    padding: 12px;
    background: url(../images/cfvip-personal-img1.png) no-repeat left top;
}

.three-upgrade h4{
    width: 271px;
    line-height: 30px;
    font-size: 20px;
    color: #764215;
    text-align: center;
}

.three-upgrade-box p{
    width: 271px;
    line-height: 20px;
    font-size: 14px;
    color: #4c4d4e;
    text-align: center;
    margin-top: 5px;
}

.three-upgrade-renew{
    width: 271px;
    height: 30px;
    margin-top: 20px;
}

.three-upgrade-renew a{
    display: block;
    width: 70px;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    font-weight: 700;
    color: #ffffff;
    text-align: center;
    margin: 0 auto;
    background: url(../images/cfvip-personal-text-background.png) no-repeat 0 0;
    background-position: 0 -43px;
}

.upgrade-box2{
    left: 306px;
}

.three-upgrade-recharge{
    width: 271px;
    height: 30px;
    margin-top: 20px;
}

.three-upgrade-recharge a{
    display: block;
    width: 70px;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    font-weight: 700;
    color: #ffffff;
    text-align: center;
    margin: 0 auto;
    background: url(../images/cfvip-personal-text-background.png) no-repeat 0 0;
    background-position: 0 -43px;
}