/* 版心 */
.container{
    width: 1200px;
    margin: 0 auto;
}

/* 清除浮动 */
.clearfix:before ,
.clearfix:after{
    content: "";
    display: table;
}
.clearfix:after{
    clear: both;
}
.clearfix{
    *zoom: 1;
}

body{
    font: 12px/1.14 PingFangSC-Regular, Helvetica, "Droid Sans", "Microsoft YaHei", Arial, sans-serif;
}

a{
    text-decoration: none;
}

/* 顶部背景图 */
.top-img{
    background-image: url(../images/index-backgroundimg-top.jpg);
    background-repeat: no-repeat;
    padding-bottom: 200px;
    background-position: center top;
}

.header{
    position: relative;
    width: 100%;
    height: 427px;
}

/* 导航 */
.navigation{
    width: 1200px;
    margin: 0 auto;
}

.navigation-one{
    width: 900px;
    padding-left: 300px;
    margin: 0 auto;
}

ul,ol,li{
    list-style: none;
}

.navigation-one li{
    width: 128px;
    float: left;
    text-align: center;
}

.navigation-one a{
    display: block;
    height: 55px;
    color: #fff;
    padding-top: 20px;
    text-decoration: none;
}

.navigation-one a span{
    display: block;
}

.ch{
    font-size: 14px;
    text-shadow: 0px 0px 5px #ffffffa6;
}

.en{
    font-size: 12px;
    transform: scale(0.8);
    color: #41454d;
    padding-top: 5px;
}

.navigation-two{
    position: absolute;
    top: 75px;
    left: 0;
    width: 100%;
    height: 150px;
    overflow: hidden;
}

.list{
    width: 900px;
    color: #fff;
    font-size: 13px;
    overflow: hidden;
    padding-bottom: 20px;
    padding-left: 300px;
    margin: 0 auto;
}

.list a::before{
    content: "";
    position: absolute;
    left: 50%;
    bottom: -3px;
    width: 0;
    height: 1px;
    background: #f54027;
    transition: all .3s;
}

.list a:hover:before{
    width: 100%;
    left: 0;
    right: 0;
}

.list-index{
    visibility: hidden;
}

.list dd{
    float: left;
    width: 128px;
    font-size: 13px;
    text-align: center;
    color: #fff;
}

.list ul{
    height: 120px;
    padding-top: 10px;
}

.list li {
    line-height: 24px;
}

.list a{
    position: relative;
    color: #fff;
    font-size: 13px;
}

.h-red{
    background-image: url(../images/index-small-img.png);
    background-position: 15px 6px;
    background-repeat: no-repeat;
}

.h-blue{
    background-image: url(../images/index-small-img.png);
    background-position: 15px -43px;
    background-repeat: no-repeat;
}

.h-yellow{
    background-image: url(../images/index-small-img.png);
    background-position: 15px -20px;
    background-repeat: no-repeat;
}

.cf3d{
    position: absolute;
    left: 50%;
    top: 478px;
    width: 200px;
    height: 276px;
    background: url(../images/index-right-img.png);
    margin-left: 616px;
    z-index: 11;
}

.house{
    position: absolute;
    left: 50%;
    top: 758px;
    width: 100px;
    height: 120px;
    background: url(../images/index-right-house-img.jpg);
    margin-left: 666px;
    z-index: 11;
}

.legend{
    position: absolute;
    left: 50%;
    top: 460px;
    width: 200px;
    height: 325px;
    background-image: url(../images/index-left-img.png);
    margin-left: -790px;
    z-index: 10;
}

.app{
    position: absolute;
    left: 50%;
    top: 790px;
    width: 150px;
    height: 150px;
    background: url(../images/index-left-QR-img.png) no-repeat;
    margin-left: -765px;
    z-index: 11;
}

.two-navigation{
    height: 122px;
    background: url(../images/index-download-img.jpg) no-repeat;
    margin-bottom: 8px;
}

.two-navigation a{
    position: relative;
    float: left;
    height: 52px;
    width: 116px;
    font-size: 14px;
    color: #fff;
    text-align: center;
    padding-top: 70px;
    overflow: hidden;
}

.two-navigation .btn-down{
    position: relative;
    width: 268px;
    height: 78px;
    font-size: 22px;
    text-align: left;
    text-indent: 100px;
    padding-top: 44px;
    margin: 2px;
    overflow: hidden;
}

.two-navigation a .down-bg{
    position: absolute;
    left: 2px;
    top: 2px;
    width: 268px;
    height: 118px;
    background: url(../images/index-download-backgroundimg.jpg) 0 0 no-repeat;
    z-index: 0;
    animation:10s linear 0s normal none infinite down-bg;
}
@keyframes down-bg{
    from{
        transform: scale(1)
    }
    to{
        transform: scale(3)
    }
}

.two-navigation a .download{
    position: relative;
    z-index: 2;
}

.two-navigation a em{
    position: absolute;
    top: 35px;
    left: 46px;
    width: 24px;
    height: 24px;
    background-image: url(../images/index-elf-img.png);
    background-repeat: no-repeat;
}

.two-navigation .btn-down em{
    left: 65px;
    top: 45px;
    z-index: 2;
}

.btn-down em{
    background-position: -24px -36px;
}
.btn-act em{
    background-position: -48px -36px;
}
.btn-liv em{
    background-position: -72px -36px;
}
.btn-ele em{
    background-position: -96px -36px;
}
.btn-acc em{
    background-position: -120px -36px;
}
.btn-vit em{
    background-position: -144px -36px;
}
.btn-str em{
    background-position: -168px -36px;
}
.btn-rep em{
    background-position: -192px -36px;
}
.btn-ver em{
    background-position: -216px -36px;
}

.btn-a:hover em{
    animation: .2s linear 0s normal none rib;-webkit-animation:.2s linear 0s normal none rib;
}
.btn-a:hover span{
    animation: .2s linear 0s normal none ani-span;-webkit-animation:.2s linear 0s normal none ani-span;
}
@keyframes rib{
    from{
        top:0;opacity: 0;
    }
    to{
        top:35px;opacity: 1;
    }
}
@keyframes ani-span{
    from{opacity: 0;}
    to{opacity: 1;}
}

/* 广告 */
.advertising{
    position: relative;
    float: left;
    height: 402px;
    width: 812px;
    overflow: hidden;
    margin-bottom: 30px;
    zoom: 1;
}

.official{
    display: block;
}

.rotate{
    position: relative;
    height: 402px;
    width: 812px;
    overflow: hidden;
}

.rotate-list{
    width: 8000px;
}

.rotate-list li{
    width: 812px;
    float: left;
}

.rotate-list img{
    vertical-align: bottom;
}

.arrow {
    display: none;
  }

.official:hover .arrow{
    display: block;
}

.arrow-left,
.arrow-right {
  font-family: "SimSun", "宋体";
  width: 30px;
  height: 60px;
  background-color: rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 50%;
  margin-top: -30px;
  cursor: pointer;
  text-align: center;
  line-height: 60px;
  color: #fff;
  font-weight: 700;
  font-size: 30px;
}

.arrow-left:hover,
.arrow-right:hover {
  background-color: rgba(0, 0, 0, .5);
}

.arrow-left {
  left: 0;
}


.arrow-right {
  right: 0;
}

.slideshow-name{
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
    z-index: 12;
    bottom: 0;
}

.slideshow-name li{
    float: left;
    width: 12.5%;
    height: 36px;
    line-height: 36px;
    color: #fff;
    background: rgba(0,0,0,.6);
    cursor: pointer;
}

.slideshow-name .pale-red{
    background-color: #f54027;
}

.cooperation{
    display: block;
    position: relative;
}

.cooperation-rotate{
    position: relative;
    height: 402px;
    width: 812px;
    overflow: hidden;
}

.cooperation-left{
    width: 8000px
}

.cooperation-left li{
    width: 812px;
    float: left;
}

.cooperation-left img{
    vertical-align: bottom;
}

.cooperation-dot{
    position: absolute;
    left: 0px;
    bottom: 38px;
    width: 100%;
    height: 8px;
    text-align: center;
    overflow: hidden;
    z-index: 12;
}

.cooperation-dot .pale-red{
    background-color: #f54027;
}

.cooperation-dot li{
    display: inline-block;
    width: 52px;
    height: 8px;
    background-color: #575757;
    margin-right: 6px;
    cursor: pointer;
    text-indent: -999em;
    zoom: 1;
}

.switch .pale-red{
    background-color: #f54027;
}


.switch{
    position: absolute;
    top: 0;
    right: 0;
    width: 120px;
    height: 24px;
    background: #2a2a2a;
}

.switch li{
    width: 60px;
    float: left
}

.switch a{
    display: block;
    height: 24px;
    line-height: 24px;
    color: #fff;
    outline: none;
    text-align: center;
}

.switch .show{
    display: block;
}

/* 新闻 */
.news{
    float: left;
    width: 388px;
    height: 402px;
    background: #fff;
    margin-bottom: 30px;
}

.news-tab{
    position: relative;
    height: 392px;
    padding: 10px 22px 0;
    overflow: hidden;
}

.news-hd-content{
    height: 46px;
    border-bottom: 1px solid #cecccc;
}

.news-hd-content li{
    float: left;
    width: 70px;
    padding-right: 15px;
}

.news-hd-content li a{
    display: block;
    height: 46px;
    line-height: 46px;
    font-size: 14px;
    color: #727070;
    text-align: center;
}

.on{
    color: #f54027;
    border-bottom: 1px solid #f54027;
}

.news-hd-content li:first-child a{
    color: #f54027;
    border-bottom: 1px solid #f54027;
}

.news-bo{
    position: absolute;
    left: 2px;
    bottom: 0;
    width: 100%;
    height: 36px;
    background: #f7f7f7;
}

.news-ce{
    padding-top: 18px;
}
/* 综合 */
.news-box{
    display: block;
}

.news-content{
    font-size: 14px;
}

.top-news{
    height: 33px;
    line-height: 33px;
    text-align: center;
    margin-bottom: 5px;
    overflow: hidden;
}

.top-news a{
    color: #f54027;
    font-weight: bold;
}

.item{
    float: left;
    width: 350px;
    height: 40px;
    line-height: 40px;
    border-bottom: dashed #eee 1px;
    overflow: hidden;
}

.news-text{
    float: left;
    width: 300px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.item a{
    color: #6c6c6c;
}

.news-date{
    float: right;
    width: 40px;
    color: #b4b5b5;
}

.news-bo a{
    display: block;
    width: 100%;
    height: 36px;
    line-height: 36px;
    font-size: 14px;
    color: #787777;
    text-align: center;
}

/* 活动直播 */
.f1{
    float: left;
}

.act-live{
    position: relative;
    margin-right: 18px;
    margin-bottom: 30px;
    overflow: hidden;
}

.activity{
    animation: bottom 0.6s ease;
    margin-bottom: 50px;
}
@keyframes bottom { 
    0% { 
    transform: translateY(20px);
    opacity: .2; 
    }
  100% { 
    transform: translateY(0);
    opacity: 1; 
    } 
}

.activity-h2,
.live-h2,
.often-h2{
    position: relative;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    font-weight: bold;
    padding-left: 30px;
    border-bottom: #d9d9d9 solid 1px;
}

.activity-h2 em{
    position: absolute;
    left: 0;
    top: 8px;
    width: 24px;
    height: 24px;
    background-image: url(../images/index-elf-img.png);
    background-repeat: no-repeat;
    background-position: -72px -60px;
}

.activity-content,
.live-content{
    width: 830px;
    margin-top: 25px;
}

.activity-content li{
    position: relative;
    float: left;
    width: 200px;
    height: 90px;
    margin-right: 4px;
    overflow: hidden;
}

.activity-content li img{
    display: block;
}

.activity-content img:hover,
.live-conten img:hover{
    transform: scale(1.1);
}

.activity-content .time{
    position: absolute;
    top: 60px;
    left: 10px;
    color: #f7432a;
    border: #f7432a solid 1px;
    padding: 0 5px;
}

.more{
    position: absolute;
    top: 10px;
    right: 2px;
    height: 18px;
}

.more a{
    display: block;
    width: 40px;
    height: 18px;
    line-height: 18px;
    font-size: 14px;
    color: #787777;
}

.live{
    position: relative;
    width: 812px;
    overflow: hidden;
    animation: bottom 0.6s ease;
}

.live-h2 em{
    position: absolute;
    top: 8px;
    left: 0;
    width: 24px;
    height: 24px;
    background-image: url(../images/index-elf-img.png);
    background-repeat: no-repeat;
    background-position: 0px -60px;
}

.live-one{
    float: left;
    width: 284px;
    height: 112px;
    overflow: hidden;
}

.fr{
    float: right;
}

.fr li{
    position: relative;
    width: 176px;
    height: 112px;
    margin-right: 4px;
    overflow: hidden;
}

.fr a P{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 156px;
    height: 24px;
    line-height: 24px;
    color: #fff;
    padding: 0 10px;
    background: rgba(0,0,0,.6);
}

/* 常用入口 */
.often{
    position: relative;
    width: 370px;
    font-size: 14px;
    overflow: hidden;
    animation: bottom 0.6s ease;
}

.often-h2 em{
    position: absolute;
    left: 0;
    top: 8px;
    width: 24px;
    height: 24px;
    background-image: url(../images/index-elf-img.png);
    background-repeat: no-repeat;
    background-position: -168px -60px;
}

.often-content{
    position: relative;
    margin-top: 25px;
    border: 1px solid #dedede;
    overflow: hidden;
}

.often-content li{
    width: 120px;
    float: left;
    text-align: center;
    padding: 1px;
}

.often-content a{
    display: block;
    height: 70px;
    color: #6c6c6c;
    padding-top: 5px;
    background: #f7f7f7;
    transition:all 0.6s ease-out 0s;
}

.often-content li a:hover{
    color: #f54027;
}

.often-content a:hover{
    text-decoration: none;color: #fff;
}

.often-content .bor{
    border-right: 1px solid #dedede;
}

.often-content .bob{
    position:relative;
    border-bottom: 1px solid #dedede;
}

.often-content .often-img1{
    display: block;
    width: 36px;
    height: 36px; 
    margin: 0px auto;
    background-image: url(../images/index-elf-img.png);
    background-repeat: no-repeat;
    background-position: -108px 0px;
}

.often-content .often-img2{
    display: block;
    width: 36px;
    height: 36px; 
    margin: 0px auto;
    background-image: url(../images/index-elf-img.png);
    background-repeat: no-repeat;
    background-position: -36px 0px;
}

.often-content .often-img3{
    display: block;
    width: 36px;
    height: 36px; 
    margin: 0px auto;
    background-image: url(../images/index-elf-img.png);
    background-repeat: no-repeat;
    background-position: -72px 0px;
}

.often-content .often-img4{
    display: block;
    width: 36px;
    height: 36px; 
    margin: 0px auto;
    background-image: url(../images/index-elf-img.png);
    background-repeat: no-repeat;
    background-position: 0px 0px;
}

.often-content .often-img5{
    display: block;
    width: 36px;
    height: 36px; 
    margin: 0px auto;
    background-image: url(../images/index-elf-img.png);
    background-repeat: no-repeat;
    background-position: -144px 0px;
}

.often-content .often-img6{
    display: block;
    width: 36px;
    height: 36px; 
    margin: 0px auto;
    background-image: url(../images/index-elf-img.png);
    background-repeat: no-repeat;
    background-position: -180px 0px;
}

.often-content .often-img7{
    display: block;
    width: 36px;
    height: 36px; 
    margin: 0px auto;
    background-image: url(../images/index-elf-img.png);
    background-repeat: no-repeat;
    background-position: -216px 0px;
}

.often-content .often-img8{
    display: block;
    width: 36px;
    height: 36px; 
    margin: 0px auto;
    background-image: url(../images/index-elf-img.png);
    background-repeat: no-repeat;
    background-position: -252px 0px;
}

.often-content .often-img9{
    display: block;
    width: 36px;
    height: 36px; 
    margin: 0px auto;
    background-image: url(../images/index-elf-img.png);
    background-repeat: no-repeat;
    background-position: -288px 0px;
}

.search{
    width: 366px;
    height: 40px;
    border: #ddd solid 1px;
    padding: 1px;
    margin: 10px 0;
    border-radius: 2px;
}

.search-txt{
    width: 280px;
    height: 40px;
    line-height: 40px;
    padding-left: 10px;
    border: none;
    outline:none;
}

.search a{
    display:inline-block;
    width:71px;
    height: 40px;
    line-height: 40px;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    background: #f7432a;
}

.search-hot,
.search-hot a{
    color: #6c6c6c;
}
